{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>This will be a password generator! It is in Beta, but the passwords are still valid to use</h1>
  <h3>Pick any of the below options to get a randomly generated password</h3>
  <p>These password difficulties are based off of difficulty to remember. All passwords are strong enough to use. (except <strong>EASY</strong> which does not contain any special characters)</p>


  <h4><strong><a href="https://egebele.pythonanywhere.com/passwordgen/easygen">Easy</a></strong> (a password 9-12 letters long and 2 numbers, with no special characters)</h4>

  <h4><strong><a href="https://egebele.pythonanywhere.com/passwordgen/mediumgen">Medium</a></strong> (a password 11-15 characters long, including 2 words, and special characters and numbers)</h4>

  <h4><strong><a href="https://egebele.pythonanywhere.com/passwordgen/hardgen">Hard</a></strong> (a password 17-38 characters long, including 3 words, and special characters and numbers)</h4>

  <p><a href="https://egebele.pythonanywhere.com/">Home Page</a></p>
{% endblock %}