<p><strong><font size="+3">Welcome to my website of random projects! Take a look around!</font></strong></p>
<ul>
<li><p><a href="/polls">A Polls Application</a></p>
<p>788d4162 is the secret code</p></li>
<li><p><a href="/hello">Test the session</a></p></li>
<li><p><a href="/autos">Autos CRUD - you must be <strong>logged in</strong> to view</a></p></li>
<li><p><a href="/cats">Cats CRUD</a></p></li>
<li><p><a href="/plag">Movie Quote Quiz</a></p></li>
<li><p><a href="/giveitem">Thing that picks a random animal</a></p></li>
<li><p><a href="/passwordgen">Password Generator</a></p></li>
</ul>
<p>What is a CRUD?</p>
<p>CRUD (Create, Read, Update, Delete) is an acronym for ways one can operate on stored data. It is a mnemonic for the four basic functions of persistent storage.</p>