{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Pick a thing</h1>
    <h3>Animal, Temp, and Mobile will give back a random value. Click one and see what you get!</h3>
    <h4><a href="https://egebele.pythonanywhere.com/giveitem/animal">Animal</a>  {{ animal}} </h4>
    <h4><a href="https://egebele.pythonanywhere.com/giveitem/temp">Temp</a>  {{ temp }} </h4>
    <h4><a href="https://egebele.pythonanywhere.com/giveitem/mobile">Mobile</a> {{ cart }} </h4>

  <p><a href="https://egebele.pythonanywhere.com/">Home Page</a></p>
{% endblock %}